body{
    background: #fdf7ff;
    background: radial-gradient(circle,rgba(253, 247, 255, 1) 0%, rgba(196, 91, 252, 1) 100%, rgba(233, 208, 247, 1) 50%);
    margin: 0;
    padding: 0;
}
.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.swiper {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    border-radius: 8px;
    position: relative; /* Asegura el correcto comportamiento interno */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.swiper-button-next, .swiper-button-prev {
    color: #fff;
    padding: 5px;
}

.swiper-pagination-bullet-active {
    background: #fff;
}